<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>Dashboard</title>

  <!-- Material Design Lite -->
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>




  <!-- Local Assets -->
  <link rel="stylesheet" href="/bootstrap.min.css">

  <script src="/jquery-3.4.1.min.js"></script>

  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js"></script>

  <!-- TODO: Add Google Sign-in library -->
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/spreadsheets">
  <meta name="google-signin-client_id"
    content="296158996360-jdmu8skl6t8ha9jvi1nqojv0m4tlsfc2.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body>

  <header class="row bg-primary p-5">

    <div class="col-md-6">
      <h1><a class="text-white" href="/">Dashboard</a></h1>
    </div>

    <!-- TODO: Add Google Sign-in button -->

    <div id="profile" class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          <div id="spinner" class="spinner-border text-warning d-none" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div class="col-md-4 text-white ">
          <b class="name"></b><br />
          <i class="email"></i>
        </div>

        <div class="col-md-4 g-signin2" data-onsuccess="onSignIn"></div>
      </div>
    </div>

  </header>

  <div class="alert alert-dismissible fade show d-none" role="alert">
    <div class="message"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <main class="container-fluid p-5">
    {{{body}}}
  </main>

  </div>
</body>

<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>


</html>